html,body {
  padding: 0;
  margin: 0;
  border-radius: 0px;
  max-height: 100%;
  width: 100%;
  background-image: url('https://www.xmple.com/wallpaper/black-blue-gradient-linear-1920x1080-c2-000000-4169e1-a-195-f-14.svg') !important;
  min-height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,Euclid Circular A;
}


.row{
  margin: 0 !important;
  padding: 0 !important;
}
